html {
    height: 100%;
}

body {
    background: #FFF9F2;
    min-height: 100%;
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
}

.logo {
    background: url(../images/logo.png) 0 0 no-repeat;
    width: 200px;
    height: 70px;
    color: transparent !important;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.5rem 3rem;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
}

.wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

body,
.wrapper {
    display: flex !important;
}

.wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

/**Card**/
.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(17, 17, 17, .125);
}

.card-bg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    transition-property: -webkit-transform, transform;
}

.card-img {
    background: url(../images/hand-care.png) top right / contain no-repeat;
}

.gift-certificates .serenity .gift-bg-img {
    background: url(../images/gift.png) top right / contain no-repeat;
    position: absolute;
    width: 450px;
    height: 395px;
    left: 78px;
    bottom: -50px;
}

.card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

.card > * {
    flex-shrink: 0;
}

.text .subTitle {
    font-size: 21px;
    font-weight: normal;
}

.section.hand-care {
    min-height: 462px;
}

.hand-care .text {
    margin-bottom: 30px;
}

.hand-care .text .subTitle {
    margin: 0;
    padding: 16px 0 15px;
    position: relative;
}

.hand-care .text .subTitle:after {
    content: '';
    display: block;
    height: 1px;
    width: 50px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

/*Banner*/
#banner {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.heading {
    margin-bottom: 80px;
}

.btn-serenity {
    color: #000;
    border: none;
    padding: 10px 45px;
}

.btn-primary-serenity {
    background: #E87624 !important;
    color: #fff;
}

.btn-serenity:hover {
    opacity: 0.95;
}

.btn-default-serenity {
    background: #fff;
}

.wrapper .nav-item .nav-link {
    color: #000;
    position: relative;
    padding: 4px 20px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.wrapper .nav-item.active .nav-link,
.wrapper .nav-item:hover .nav-link {
    color: #E87624;
}

.wrapper .nav-item.active .nav-link:after,
.wrapper .nav-item:hover .nav-link:after{
    content: '';
    display: block;
    width: 48px;
    height: 2px;
    background: #E87624;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}

.gift-certificates .serenity {
    background: #F9F0E7;
}
.gift-certificates h4 {
    color: #86171A;
}